.container{
    margin-bottom: 100px;
}
.color-pink{
    background-color: #FCE6E8;
    border-radius: 10px;
}
.carousel-item {
    padding: 70px;
}
.price {
    color: #f80046;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0% ,#FF136F 100%);
    color:#fff;
    border:none;
    border-radius:8px;
    padding:9px 25px;
    cursor: pointer;
}

.cat1 , .cat2, .cat3{
    padding: 10px 8px;
    border-radius: 10px;
}

.cat1 {
    background-image: linear-gradient(45deg, #F09430, #F4C81B);
}

.cat2 {
    background-image: linear-gradient(45deg, #EB1968, #EA1C6A);
}

.cat3 {
    background-image: linear-gradient(45deg, #4277FF, #3910F8);
}

.catagories h1{
    color: whitesmoke;
}
.catagories img{
    width: 150px;
}
.card{
    border: none;
    box-shadow: 2px 10px 10px lightgray;
    border-radius: 10px;
}
.bottom-gap{
    margin: 30px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#contac {
    height: 300px;
}
#contac h6{
    color: gray;
}